@font-face {
  font-family: 'Futura PT';
  src: url('../Futura/FuturaPT-Medium.eot');
  src: local('Futura PT Medium'), local('FuturaPT-Medium'), url('Futura/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'), url('Futura/FuturaPT-Medium.woff') format('woff'), url('Futura/FuturaPT-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
body,
html {
  background-color: #060606;
  color: #f1f2f2;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 22px;
  font-family: 'Futura PT' !important;
}
body a,
html a {
  text-decoration: none;
  color: white;
}
body a:hover,
html a:hover {
  color: white ;
}
body h1,
html h1 {
  font-size: 42px;
  text-align: center;
  color: #AD0000;
}
body h2,
html h2 {
  font-size: 38px;
  text-align: center;
  color: #AD0000;
}
body h3,
html h3 {
  font-size: 36px;
  text-align: center;
  color: #AD0000;
}
body h4,
html h4 {
  font-size: 34px;
  text-align: center;
  color: #AD0000;
}
body h5,
html h5 {
  font-size: 32px;
  text-align: center;
  color: #AD0000;
}
body h6,
html h6 {
  font-size: 30px;
  text-align: center;
  color: #AD0000;
}
.header {
  color: #f1f2f2 !important;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0px;
  font-style: normal;
  background-color: black;
}
.header a:hover {
  color: #AD0000 !important;
}
.login-to-account {
  float: right;
  background-image: url(../img/button-blood.webp);
  background-repeat: no-repeat;
  background-position: -5px 10px;
  background-size: 100%;
  width: 200px;
}
.login-to-account a:hover {
  color: white !important;
}
.container-fluid {
  color: #f1f2f2 !important;
}
.navbar-brand img {
  height: 56px;
  float: left;
}
.navbar-right {
  float: right;
}
.navbar-light {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0px;
  font-style: normal;
}
.hero {
  background-image: url(../img/hero-background.webp);
  background-color: #0d0d0d;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 4% 30px 0px;
  margin-bottom: 2%;
  margin-top: 0px;
  background-size: cover;
  z-index: 1;
  overflow: hidden;
  position: relative;
}
.hero .row {
  display: flex;
  align-items: center;
}
.hero .p {
  display: flex;
  align-items: center;
}
.hero img {
  max-width: 100%;
  height: auto;
}
.buy-button {
  display: inline;
  float: left;
  background-image: url(../img/button-blood.webp);
  background-repeat: no-repeat;
  background-position: 0px 10px;
  background-size: 100%;
  width: 320px;
  height: 80px;
  font-size: 32px!important;
  padding-left: 100px;
  padding-top: 15px;
  color: white;
}
.buy-button:hover {
  color: white;
  filter: alpha(opacity=40);
}
.packshot-hero-image {
  height: 600px;
  width: 600px;
}
.moose-img {
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  background-position: center center;
  background-repeat: repeat-x;
  border-width: 0px;
  border-color: #eae9e9;
  border-style: solid;
  height: 400px;
  margin: -320px 0 -40px 0 !important;
  background-size: 1400px;
  z-index: 10;
  background-image: url(../img/mvone.webp);
}
@media (max-width: 960px) {
  .moose-img {
    background-image: none;
  }
}
.moose-img .col {
  height: 500px;
}
.packshot {
  background-color: #dddede;
  background-position: center top;
  background-repeat: repeat-y;
  padding: 2% 30px;
  margin-bottom: 0px;
  margin-top: -100px;
  border-width: 0px;
  border-color: #eae9e9;
  border-style: solid;
  background-image: url(../img/bgb.webp);
  position: relative;
}
.packshot p {
  color: black;
}
.packshot img {
  max-width: 100%;
  height: auto;
  float: left;
}
.season {
  background-color: #161616;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 3% 30px 2%;
  margin-bottom: 0px;
  margin-top: 0px;
  border-width: 0px;
  border-color: #eae9e9;
  border-style: solid;
  background-size: cover;
  background-image: url(../img/bgw.webp);
}
.season img {
  vertical-align: top;
  max-height: 200px;
  max-width: 240px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.season h2 {
  text-align: left;
}
.season h3 {
  text-align: left;
  color: white;
}
.season .body-image {
  background-image: url(../img/body.webp);
}
.crowdfunding {
  text-align: center;
  background-color: #dddede;
  background-position: center bottom;
  background-repeat: repeat-y;
  padding: 0px 30px 5%;
  margin-bottom: -5%;
  margin-top: 0px;
  border-width: 0px;
  border-color: #eae9e9;
  border-style: solid;
  background-image: url(../img/bgb.webp);
}
.crowdfunding h1 {
  color: #AD0000;
  padding-top: 50px;
}
.crowdfunding img {
  max-height: 140px;
}
.crowdfunding p {
  color: black;
}
.crowdfunding img {
  max-width: 100%;
  height: auto;
}
.mc-field-group {
  width: 100% !important;
}
.mc-field-group input {
  border: 2px solid #AD0000 !important;
  display: table-cell !important;
  width: 100% !important;
}
.mc-field-group input:focus {
  outline: 0px solid #AD0000 !important;
  display: table-cell !important;
}
.mc_embed_signup {
  display: table-cell;
  width: 100% !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
}
.button {
  background-color: #AD0000 !important;
  height: 50px !important;
  font-weight: 400 !important;
  font-size: 24px !important;
  font-family: 'Futura PT' !important;
  width: 100% !important;
}
.button:hover {
  background-color: white !important;
  color: black !important;
}
.forest {
  background-image: url(../img/footer-trees.webp);
  background-position: center top;
  background-repeat: repeat-x;
  padding: 0px 0px 164px;
  margin-bottom: 0px;
  margin-top: 0px;
  background-size: 441px;
  position: relative;
}
@media (max-width: 960px) {
  .forest {
    background-image: none;
    background-color: #1c1918;
  }
}
.footer {
  font-size: 18px;
  background-color: #1c1918;
  background-position: center top;
  background-repeat: repeat-x;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
.footer .fa {
  color: #686868;
  text-decoration: none;
  font-size: 24px;
}
.footer a {
  color: #686868;
}
.footer p {
  color: #686868;
}
.moose-main {
  background-color: #dddede;
  background-position: center bottom;
  background-repeat: repeat-y;
  margin-bottom: -5%;
  margin-top: 0px;
  border-width: 0px;
  border-color: #eae9e9;
  border-style: solid;
  background-image: url(../img/bgb.webp);
}
.moose-main h2 {
  color: #AD0000;
}
.carousel {
  margin-left: auto;
  margin-right: auto;
}
.carousel img {
  max-width: 100%;
  height: auto;
}
.moose-header {
  padding-top: 50px;
  padding-bottom: 50px;
}
.moose-header h1 {
  color: #AD0000;
}
.moose-description {
  color: black;
  padding-bottom: 50px;
}
.moose-buy-button {
  display: inline;
  float: left;
  background-image: url(../img/button-blood.webp);
  background-repeat: no-repeat;
  background-position: 0px 10px;
  background-size: 100%;
  width: 300px;
  min-height: 80px;
  font-size: 32px!important;
  padding-left: 50px;
  padding-top: 15px;
  color: white !important ;
}
.moose-buy-button:hover {
  color: white;
}
.about-main {
  background-color: #dddede;
  background-position: center bottom;
  background-repeat: repeat-y;
  margin-bottom: -5%;
  margin-top: 0px;
  border-width: 0px;
  border-color: #eae9e9;
  border-style: solid;
  background-image: url(../img/bgb.webp);
  padding-bottom: 100px;
}
.about-main h2 {
  color: #AD0000;
}
.about-main p {
  color: black;
}
.about-header {
  padding-top: 50px;
}
.about-header h1 {
  color: #AD0000;
}
.thankyou-main {
  background-color: #dddede;
  background-position: center bottom;
  background-repeat: repeat-y;
  margin-bottom: -5%;
  margin-top: 0px;
  border-width: 0px;
  border-color: #eae9e9;
  border-style: solid;
  background-image: url(../img/bgb.webp);
}
.thankyou-main h2 {
  color: #AD0000;
}
.thankyou-main p {
  color: black;
}
.thankyou-header {
  padding-top: 50px;
  padding-bottom: 50px;
}
.thankyou-header h1 {
  color: #AD0000;
}
.blog-main {
  background-color: #dddede;
  background-position: center bottom;
  background-repeat: repeat-y;
  margin-bottom: -5%;
  margin-top: 0px;
  border-width: 0px;
  border-color: #eae9e9;
  border-style: solid;
  background-image: url(../img/bgb.webp);
}
.blog-main h2 {
  color: #AD0000;
}
.blog-main p {
  color: black;
}
.blog-header {
  padding-top: 50px;
  padding-bottom: 50px;
}
.blog-header h1 {
  color: #AD0000;
}
.delivery-main {
  background-color: #dddede;
  background-position: center bottom;
  background-repeat: repeat-y;
  margin-bottom: -5%;
  margin-top: 0px;
  border-width: 0px;
  border-color: #eae9e9;
  border-style: solid;
  background-image: url(../img/bgb.webp);
}
.delivery-main h2 {
  color: #AD0000;
}
.delivery-main p {
  color: black;
}
.delivery-header {
  padding-top: 50px;
  padding-bottom: 50px;
}
.delivery-header h1 {
  color: #AD0000;
}
.map-main {
  background-color: #dddede;
  background-position: center bottom;
  background-repeat: repeat-y;
  margin-bottom: -5%;
  margin-top: 0px;
  border-width: 0px;
  border-color: #eae9e9;
  border-style: solid;
  background-image: url(../img/bgb.webp);
}
.map-main h2 {
  color: #AD0000;
}
.map-main p {
  color: black;
}
.map-header {
  padding-top: 50px;
  padding-bottom: 50px;
}
.map-header h1 {
  color: #AD0000;
}
.press-kit-main {
  background-color: #dddede;
  background-position: center bottom;
  background-repeat: repeat-y;
  margin-bottom: -5%;
  margin-top: 0px;
  border-width: 0px;
  border-color: #eae9e9;
  border-style: solid;
  background-image: url(../img/bgb.webp);
}
.press-kit-main h2 {
  color: #AD0000;
}
.press-kit-main p {
  color: black;
}
.press-kit-header {
  padding-top: 50px;
  padding-bottom: 50px;
}
.press-kit-header h1 {
  color: #AD0000;
}
.privacy-policy-main {
  background-color: #dddede;
  background-position: center bottom;
  background-repeat: repeat-y;
  margin-bottom: -5%;
  margin-top: 0px;
  border-width: 0px;
  border-color: #eae9e9;
  border-style: solid;
  background-image: url(../img/bgb.webp);
}
.privacy-policy-main h1 {
  text-align: center;
}
.privacy-policy-main p {
  color: black;
}
.privacy-policy-main li {
  color: black;
}
.privacy-policy-main h3 {
  text-align: left;
}
.privacy-policy-header {
  padding-top: 50px;
  padding-bottom: 50px;
}
.privacy-policy-header h1 {
  color: #AD0000;
}
